@model List<Model.EF.Menu> 
<div class="top_nav">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="top_nav_left">
                    free shipping on all u.s orders over $50
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="top_nav_right">
                    <ul class="top_nav_menu">
                        <li class="account">
                            <a href="#">
                                My Account
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="account_selection">
                                @{
                                    var session = (OnlineShop.Common.UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
                                }
                                @if (session == null)
                                {
                                    foreach (var item in Model)
                                    {
                                        
                                        <li>
                                            <a href="@item.Link">
                                                <i class="" aria-hidden="true"></i>@item.Text
                                            </a>
                                        </li>
                                    }

                                }
                                else
                                {
                                    <li>Xin chào @session.UserName</li>
                                    <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
